# Deploy hexo site by travis-ci
# https://github.com/jkeylu/deploy-hexo-site-by-travis-ci
# LICENSE: MIT
#
# 1. Copy this file to the root of your repository, then rename it to '.travis.yml'
# 2. Replace 'YOUR NAME' and 'YOUR EMAIL' at line 29
# 3. Add an Environment Variable 'DEPLOY_REPO'
#     1. Generate github access token on https://github.com/settings/applications#personal-access-tokens
#     2. Add an Environment Variable on https://travis-ci.org/{github username}/{repository name}/settings/env_vars
#         Variable Name: DEPLOY_REPO
#         Variable Value: https://{github access token}@github.com/{github username}/{repository name}.git
#         Example: DEPLOY_REPO=https://6b75cfe9836f56e6d21187622730889874476c23@github.com/jkeylu/test-hexo-on-travis-ci.git

notifications:
  email: false

language: node_js

node_js:
- 8.11.1

branches:
  only:
  - master

install:
- npm install

# Notice: Replace 'YOUR NAME' and 'YOUR EMAIL'
before_script:
- git config --global user.name 'QU Xiaofeng'
- git config --global user.email 'quxiaofeng@live.com'
- git clone --depth 1 --branch quxiaofeng --single-branch https://github.com/quxiaofeng/hexo-theme-icarus.git themes/icarus
- git clone --depth 1 --branch quxiaofeng --single-branch https://github.com/quxiaofeng/hexo-theme-next.git themes/next
- git clone --depth 1 --branch quxiaofeng --single-branch https://github.com/quxiaofeng/hexo-theme-cactus.git themes/cactus
- git clone --depth 1 --branch quxiaofeng --single-branch https://github.com/quxiaofeng/hexo-theme-typography.git themes/typography

script:
- npm run build

after_success:
- mkdir .deploy
- cd .deploy
- git clone --depth 1 --branch master --single-branch https://$USER:$GITHUB_TOKEN@github.com/$DEPLOY_REPO.git . || (git init && git remote add --track master origin https://$USER:$GITHUB_TOKEN@github.com/$DEPLOY_REPO.git)
- rm -rf ./*
- cp -r ../public/* .
- git add -A .
- git commit -m 'Site updated automatically with travis-ci'
- git branch -m master
- git push -u origin master --force

# deploy:
#   provider: pages
#   skip_cleanup: true
#   local_dir: .
#   repo: $DEPLOY_REPO
#   target_branch: master
#   github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
#   on:
#     branch: master
